<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Der folgende Abschnitt macht die deployTargetSection bekannt und gibt an in welchem NameSpace sie verwendet wird.
       bzw. verwendet werden kann typ = "Voll qualifizierter Pfad zu ConnectionSecion Klasse, NameSpace in dem die Config benutzt wird." -->
  <configSections>                           <!-- My.MyConfigSection, My.Assembly-->
    <section name="deployTargetSection" type="MirrorConfigInCode.ConnectionSection, MirrorConfigInCode"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <deployTargetSection>
    <Targets>
      <Target name="Target Nr. 1" path="D:\Temp" isactive="true" servername="localhost"/>
      <Target name="Target Nr. 2" path="C:\Temp" isactive="true" servername="localhost"/>
      <Target name="Target Nr. 3" path="E:\Temp" isactive="false" servername="localhost"/>
    </Targets>
  </deployTargetSection>

</configuration>